
:root {
    --standard-padding: 0.5cm;
    --standard-all-padding: calc(--standard-padding * 2);
    --main-color: #FFA62F;
    --page-color: white;
    --text-color: black;
    --main-font: 'Work Sans';
    --lighter-main-color: #FFC96F;
    --regular: 400;
    --bold: 700;
    --extra-bold: 900;
}

@font-face {
    font-family: 'Work Sans';
    font-weight: var(--regular);
    src: url('/fonts/work_sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: var(--bold);
    src: url('/fonts/work_sans/static/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: var(--extra-bold);
    src: url('/fonts/work_sans/static/WorkSans-ExtraBold.ttf');
}

body {
    padding: 0.5cm;
    margin: 0;
    background-color: var(--page-color);
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: var(--regular);
}

body > div {
    min-width: calc(100vw - var(--standard-all-padding));
    min-height: calc(100vh - var(--standard-all-padding));
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

nav {
    width: calc(100vw - var(--standard-all-padding));
    flex-grow: 0.5;
    max-height: 1.5cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5cm;
}

nav > .desktop > a {
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: var(--bold);
    font-size: 1em;
    padding: 0.2cm 0.5cm;
    border-radius: 0.5cm;
}

nav > .desktop > a:hover {
    transition: 
        color 200ms 150ms, 
        background-color 150ms;
    background-color: var(--main-color);
    border: none;
    color: white;
}

.flex-all-center {
    align-items: center;
    justify-content: center;
}

.very-large-font {
    font-size: 9em;
}

.large-font {
    font-size: 3em;
}

.no-margin {
    margin: 0;
}

.classic-button {
    font-family: var(--main-font);
    font-weight: var(--regular);
    font-size: 1.5em;
    border: none;
    border-radius: 0.4cm;
    padding: 0.2cm 0.6cm;
    text-decoration: none;
}

.classic-button {
    background-color: var(--lighter-main-color);
    color: black;
    outline: solid var(--main-color) 0.15rem;
}

.classic-button:hover {
    transition: background-color 200ms;
    background-color: var(--main-color);
}

.main-color {
    color: var(--main-color);
}

.text-center {
    text-align: center;
}

.mobile-nav-button {
    /* would only be seen in mobile */
    display: none;
    background-color: transparent;
    border: none;
}

#account-form {
    height: 90%;
    width: 90%;
    max-width: 15cm;
    max-height: 15cm;
    background-color: white;
    border-radius: 0.2cm;
    box-shadow: 2px 38px 94px -19px rgba(219,219,219,0.58);
    box-sizing: border-box;
    padding: 1cm;
}

label {
    font-size: 1.5em;
}

.warning {
    color: #ff060b;
}

input[type="text"] {
    font-family: "Work Sans";
    font-size: 1.2em;
    padding: 0.3cm 0.5cm;
    border: solid 0.01rem black;
    border-radius: 0.05cm;
}

input[type="text"]:focus {
    outline: solid 0.1rem var(--main-color);
    border-color: var(--main-color);
    color: var(--main-color);
}

.warningicon {
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.25cm;
}

.account-submission-prompt {
    padding: 0.2cm 0.5cm;
    width: fit-content;
}
.account-submission-prompt.warning {
    background-color: #ff060b;
    color: white;
}

@media (min-width: 300px) and (max-width: 500px) {
    body {
        padding: 0.4cm;
    }
    nav {
        justify-content: flex-start;
    }
    nav > .desktop {
        display: none;
    }
    .very-large-font {
        font-size: 6em;
    }
    .large-font {
        font-size: 2.5em;
    }
    button.classic:focus {
        transition: background-color 200ms;
        background-color: var(--main-color);
    }
    .mobile-nav-button {
        display: block;
    }
    .mobile-nav-button > img {
        height: 1cm;
        width: 1cm;
    }
    #mobile-navigation-bar {
        background-color: #f2f5f3;
        position: absolute;
        left: -0.05cm;
        top: -0.05cm;
        width: 75vw;
        height: calc(100vh + 0.05cm);
        z-index: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 1cm;
    }
    #mobile-navigation-bar > #close-navigation-bar {
        height: 1cm;
        width: 1cm;
    }
    #mobile-navigation-bar > a  {
        display: block;
        font-family: 'Work Sans';
        font-weight: 400;
        text-decoration: none;
        color: black;
        padding: 0.3cm 0.8cm;
    }
    #mobile-navigation-bar > a:focus {
        background-color: var(--main-color);
        color: white;
    }
    .account-submission-prompt {
        font-size: 0.8em;
        padding: 0.2cm;
    }
    .classic-button {
        font-size: 1.2em;
    }
    #account-form {
        height: 95%;
        width: 95%;
        margin-top: 0.5cm;
        padding: 0.5cm;
    }
    #account-form input[type="text"] {
        width: 100%;
    }
    input[type="text"] {
        font-size: 1em;
    }
}