
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: url('/assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
}

body {
    overflow-y: hidden;
}

a.classic {
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    color: black;
    font-weight: 700;
    padding: 0.2cm 0.5cm;
    text-decoration: none;
    user-select: none;
}

a.classic:focus {
    outline: solid 0.1rem black;
    outline-offset: 0.1rem;
}

a.classic:hover {
    color: #ffd34b;
}

a.classic:active {
    background-color: transparent;
    color: black;
}

a.classic-on-white, button.classic-on-white {
    background-color: black;
    border: none;
    border-radius: 0.2rem;
    color: #ffd34b;
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 700;
    padding: 0.2cm 0.5cm;
    text-decoration: none;
    user-select: none;
}

a.classic-on-white:focus, button.classic-on-white:focus {
    outline: solid 0.1rem black;
    outline-offset: 0.2rem;
}

a.classic-on-white:active, button.classic-on-white:active {
    background-color: #ffd34b;
    color: black;
}

label {
    font-weight: 700;
    margin-bottom: 0.1cm;
}

input[type='text'], input[type='password'] {
    border: solid 0.1rem #d6d6d6; 
    border-radius: 0.2rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.2cm 0.5cm;
}

input[type='text']:focus, input[type='password']:focus {
    border-color: #ffd34b;
    outline: solid 0.01rem #ffd34b;
    outline-offset: 0.1rem;
}

input[type='text'] + span.warning, input[type='password'] + span.warning {
    color: #ff0000;
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.8em;
    height: 1em;
}

body {
    background-color: #ffd43b;
    color: black;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

body *::selection {
    background-color: black;
    color: #ffd34b;
}

.block {
    display: block;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#photo-cards-container {
    height: 70%;
    padding: 0.5cm;
}

.photo-card {
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    padding: 0.5cm;
    position: relative;
    width: 8cm;
}

#photo-cards-container > .photo-card:first-child {
    animation-name: photo-card-first-child-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
    z-index: 0;
    position: relative;
    left: 8cm;
    top: 0.7cm;
}

#photo-cards-container > .photo-card:nth-child(2) {
    animation-name: photo-card-middle-child-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    position: relative;
    top: 0.7cm;
    z-index: 1;
}

#photo-cards-container > .photo-card:nth-child(3) {
    animation-name: photo-card-last-child-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
    z-index: 0;
    position: relative;
    right: 8cm;
    top: 0.7cm;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
@keyframes photo-card-first-child-animation {
    to {
        left: 1.2cm;
        transform: rotate(-9deg);
        top: 0.7cm;
    }
}

@keyframes photo-card-middle-child-animation {
    to {
        top: 0cm;
    }
}

@keyframes photo-card-last-child-animation {
   to {
        right: 1.2cm;
        transform: rotate(9deg);
        top: 0.7cm;
   }
}

.photo-card > .rect {
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
}

#foto {
    font-weight: 900;
    font-size: 4em;
    user-select: none;
}

#tagline {
    font-size: 1.2em;
    position: relative;
    top: -1.2em;
}

#navigation-link-container {
    display: flex;
    flex-direction: row;
}

#navigation-link-container > a.classic {
    margin: 0 0.2cm;
}

#form-container {
    background-color: white;
    border-radius: 0.2rem;
    box-sizing: border-box;
    height: 90%;
    padding: 0.8cm;
    width: 35%;
    min-width: 10cm;
    max-width: 12cm;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#form-container span:first-child {
    font-weight: 700;
    font-size: 1.7em;
}

#form-container input[type='text'] {
    width: 70%;
}

#notification-popup-message {
	background-color: red;
	border-radius: 0.1rem;
	color: white;
	font-weight: 700;
	padding: 0.2cm 0.5cm;
	position: absolute;
	font-size: 1em;
    top: 100%;
}

@media all and (max-width: 500px) {
    #photo-cards-container {
        height: 50%;
        padding: 0;
        column-gap: 0;
    }
    .photo-card {
        height: 5cm;
        width: 3cm;
        padding: 0.3cm;
    }
    #photo-cards-container > .photo-card:first-child {
        left: 0.5cm;
        top: 0.3cm;
        transform: rotate(-8deg);
        z-index: 0;
    } 
    #photo-cards-container > .photo-card:nth-child(2) {
        z-index: 1;
    }
    #photo-cards-container > .photo-card:nth-child(3) {
        right: 0.5cm;
        top: 0.3cm;
        transform: rotate(8deg);
        z-index: 0;
    }
    #content {
        position: relative;
        top: -1cm;
    }
    #tagline {
        font-size: 1em;
        text-align: center;
    }
    #navigation-link-container {
        flex-direction: column;
    }
    #navigation-link-container > a.classic {
        margin: 0.2cm 0;
    }
    #form-container {
        width: 20%;
        min-width: 9cm;
        padding: 0.8cm 0.6cm;
    }
    #form-container span:first-child {
        font-size: 1.3em;
    }
    #form-container input[type='text'] {
        width: 70%;
    }
}

@media all and (min-width: 501px) and (max-width: 768px) {
    #photo-cards-container {
        height: 60%;
        padding: 0.3cm;
    }
    .photo-card {
        height: 8cm;
        width: 5cm;
    }
    #photo-cards-container > .photo-card:first-child {
        left: 1.5cm;
        top: 0.5cm;
        z-index: 0;
        transform: rotate(-9deg);
    }
    #photo-cards-container > .photo-card:nth-child(2) {
        z-index: 1;
    }
    #photo-cards-container > .photo-card:nth-child(3) {
        right: 1.5cm;
        top: 0.5cm;
        z-index: 0;
        transform: rotate(9deg);
    }
    #tagline {
        text-align: center;
    }
}